<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/homestyle.css">
</head>
<body>


<div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="user-info">
            <div class="avatar"></div>
            <div class="details">
                <h2 th:text="${user.name}"></h2>
                <p th:text="${user.role}"></p>
     <!--       <small>Utoljára belépett: 2025.09.25</small>-->
            </div>
        </div>
        <nav class="menu">
            <a sec:authorize="hasRole('ADMIN')" th:href="@{/administration}">Administration</a>
            <a sec:authorize="hasAnyRole('ACCOUNTANT','ADMIN')" th:href="@{/invoice/create}">Create Invoice</a>
            <a th:href="@{/invoices}">Invoices</a>
        </nav>
        <div class="logout">
            <a th:href="@{/logout}">Log out</a>
        </div>
    </aside>

    <!-- Main content -->
    <main class="content">
        <h1>Welcome to the Invoice App</h1>
    </main>
</div>

</body>
</html>
