    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>Invoice creation</title>
    </head>
    <body>
        <div id="header">
            <a class="back-link" th:href="@{/home}">Home</a>
        </div>
    <section class="login_form">
        <div class="topbar">
                <h2>New invoice</h2>
            </div>
        <form method="post" id="form" th:object="${invoice}" >
            <label>BuyerName</label>
            <div class="inputbox">
                <input type="text" name="buyer" th:field="*{buyer}" readonly/>

            </div>
            <label>Date of creation</label>
            <div class="inputbox">
                <input type="date" name="createdate" th:field="*{createdate}"  readonly/>

            </div>
            <label>Due date</label>
            <div class="inputbox">
                <input type="date" name="duedate" th:field="*{duedate}" readonly/>

            </div>
            <label>Product</label>
            <div class="inputbox">
                <input type="text" name="product" th:field="*{product}" readonly/>

            </div>
            <label>Comment</label>
            <div class="inputbox">
                <input type="text" name="comment" th:field="*{comment}" readonly/>
            </div>
            <label>Price</label>
            <div class="inputbox">
                <input type="text" name="price" th:field="*{price}" readonly/>

            </div>
            <p class="registration"><a th:href="@{/invoices}">List of invoices</a></p>
        </form>
    </section>
    </body>
    </html>

