    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/style.css">
        <title>Invoice creation</title>
    </head>
    <body>
        <div id="header">
            <a class="back-link" th:href="@{/home}">Home</a>
        </div>
    <section class="login_form">
        <div class="topbar">
                <h2>New invoice</h2>
            </div>
        <form th:action="@{/invoice/create}" method="post" id="form" th:object="${invoice}">
            
            <div class="inputbox">
                <input type="text" th:field="*{buyer}" placeholder="Customer"/>
                <span th:if="${#fields.hasErrors('buyer')}"
                      th:errors="*{buyer}"
                      class="error-message"
                ></span>
            </div>
            <label>Date of creation</label>
            <div class="inputbox">
                <input type="date" th:field="*{createdate}"/>
                <span th:if="${#fields.hasErrors('createdate')}"
                      th:errors="*{createdate}"
                      class="error-message"
                ></span>
            </div>
            <label>Due date</label>
            <div class="inputbox">
                <input type="date" th:field="*{duedate}"/>
                <span th:if="${#fields.hasErrors('duedate')}"
                      th:errors="*{duedate}"
                      class="error-message"
                ></span>
            </div>
            <div class="inputbox">
                <input type="text" th:field="*{product}" placeholder="Product"/>
                <span th:if="${#fields.hasErrors('product')}"
                      th:errors="*{product}"
                      class="error-message"
                ></span>
            </div>
            <div class="inputbox">
                <input type="text" th:field="*{comment}" placeholder="Comment"/>
                <span th:if="${#fields.hasErrors('product')}"
                      th:errors="*{product}"
                      class="error-message"
                ></span>
            </div>
            <div class="inputbox">
                <input type="text" th:field="*{price}" placeholder="Price"/>
                <span th:if="${#fields.hasErrors('price')}"
                      th:errors="*{price}"
                      class="error-message"
                      ></span>
            </div>
            <button type="submit" id="submitbutton">Create</button>
            <p class="registration"><a th:href="@{/invoices}">List of invoices</a></p>
        </form>
    </section>
    </body>
    </html>

