<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Login</title>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
</head>
<body>
<div id="header"></div>

<section class="login_form">
    <div class="topbar">
        <h2>Login</h2>
    </div>

    <form th:action="@{/login}" method="post" id="form">
        <div class="inputbox">
            <input type="text" name="username" placeholder="Username" required/>
        </div>
        <div class="inputbox">
            <input type="password" name="password" placeholder="Password" required/>
        </div>

        <!-- CAPTCHA csak ha kötelező -->
        <div th:if="${captchaRequired}">
            <div id="recaptcha-container" class="g-recaptcha" data-sitekey="6Lchr9krAAAAACDaXx_bL0rKctkogHjRzRi5ITZt"></div>
        </div>

        <!-- hibaüzenet -->
        <div th:if="${errorMessage != null}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>
        <button type="submit" id="submitbutton" disabled>Log in</button>
        <p class="registration"><a th:href="@{/registration}">Registration</a></p>
    </form>
</section>

<script>
    const form = document.getElementById("form");
    const submitButton = document.getElementById("submitbutton");
    const usernameInput = form.querySelector('input[name="username"]');
    const passwordInput = form.querySelector('input[name="password"]');
    let captchaPassed = false;

    function checkForm() {
        const usernameFilled = usernameInput.value.trim().length > 0;
        const passwordFilled = passwordInput.value.trim().length > 0;
        submitButton.disabled = !(usernameFilled && passwordFilled && (!document.getElementById("recaptcha-container") || captchaPassed));
    }

    form.addEventListener("input", checkForm);

    window.onloadCallback = function() {
        const captchaContainer = document.getElementById("recaptcha-container");
        if(captchaContainer) {
            grecaptcha.render(captchaContainer, {
                'sitekey': '6Lchr9krAAAAACDaXx_bL0rKctkogHjRzRi5ITZt',
                'callback': function(token) {
                    captchaPassed = token.length > 0;
                    checkForm();
                },
                'expired-callback': function() {
                    captchaPassed = false;
                    checkForm();
                }
            });
        }
        checkForm();
    };
</script>

</body>
</html>
