<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--stílus hozzáadás-->
    <link rel="stylesheet" href="/css/style.css">
    <title>Registration</title>
</head>
<body>
<div id="header"></div>
<section class="login_form">
    <div class="topbar">
        <h2>Registration</h2>
    </div>
    <!--registration endpoint rákötése a formra-->
    <form th:action="@{/administration/save}" method="post" id="form" th:object="${user}">
        <input type="hidden" name="id" th:value="${user.id}" />
        <div class="inputbox">
            <input type="text" name="name" th:field="*{name}"/>
            <label>Name</label>
        </div>
        <div class="inputbox">
            <input type="text" name="username" th:field="*{username}"/>
            <label>Username</label>
        </div>
            <div class="radiobox">
                <input type="checkbox" name="roles" value="USER"
                       th:checked="${#lists.contains(user.roles, 'USER')}" /> <label>User</label>
                <input type="checkbox" name="roles" value="ACCOUNTANT"
                       th:checked="${#lists.contains(user.roles, 'ACCOUNTANT')}" /> <label>Accountant</label>
                <input type="checkbox" name="roles" value="ADMIN"
                       th:checked="${#lists.contains(user.roles, 'ADMIN')}"/> <label>Admin</label>
            </div>
        <button type="submit" id="submitbutton">Update</button>
    </form>
</section>
</body>
</html>